.location3 {
	position: absolute;
	top: 1409px;
	left: 84px;
}
.location3 img {
	position: absolute;
}
.location3 img:nth-child(1) {
	mix-blend-mode: color-dodge;
	filter: blur(2px);
	--opacity: 1;
	animation: fading2_anim 2s infinite ease-in-out alternate;
}
.location3 img:nth-child(2) {
	mix-blend-mode: overlay;
	filter: blur(2px);
	animation: fading_anim 2s infinite ease-in-out alternate -1s;
}
.location3 img:nth-child(3) {
	mix-blend-mode: color-dodge;
	filter: blur(1px);
	--opacity: .3;
	animation: fading2_anim 2s infinite ease-in-out alternate -.5s;
}
.location3 img:nth-child(4),
.location3 img:nth-child(5),
.location3 img:nth-child(6) {
	left: 565px;
	top: 220px;
	--opacity: .5;
	animation: smoke-anim 1.5s infinite linear;
}
.location3 img:nth-child(5) {
	animation-delay: -.5s;
}
.location3 img:nth-child(6) {
	animation-delay: -1s;
}

