.location4 {
	position: absolute;
	top: 1861px;
	left: 1410px;
}
.location4 img {
	position: absolute;
}
.location4 img:nth-child(1) {
	mix-blend-mode: color-dodge;
	filter: blur(1px);
	--opacity: 1;
	animation: fading2_anim 1s infinite ease-in-out alternate;
}
.location4 img:nth-child(2) {
	mix-blend-mode: color-dodge;
	filter: blur(1px);
	animation: fading_anim 1s infinite ease-in-out alternate -.3s;
}
.location4 img:nth-child(3) {
	mix-blend-mode: overlay;
	filter: blur(1px);
	opacity: 1;
	animation: fading_anim 3s infinite ease-in-out alternate;
}
.location4 img:nth-child(4) {
	mix-blend-mode: color-dodge;
	filter: blur(1px);
	--opacity: .3;
	animation: fading2_anim 2s infinite ease-in-out alternate -1s;
}
.location4 img:nth-child(5) {
	mix-blend-mode: color-dodge;
	filter: blur(1px);
	--opacity: .5;
	animation: fading2_anim 1.1s infinite ease-in-out alternate -.4s;
}